venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
data/pcaps/*.pcap
data/pcaps/*.pcapng
data/csv/*.csv
data/processed/*.csv
data/processed/*.joblib
data/processed/zeek_logs/
models/*.joblib
models/*.png
logs/*.log
logs/*.jsonl
output/*.json
*.egg-info/
dist/
build/
.env